<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6457681093-2d0pc9qk763ehr3cq3gmqsp4u6qgku1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6457681093-2d0pc9qk763ehr3cq3gmqsp4u6qgku1h</string>
	<key>API_KEY</key>
	<string>AIzaSyAaaN3hBIrAcWUzQ5IQXaYN9iEEWkpBxW0</string>
	<key>GCM_SENDER_ID</key>
	<string>6457681093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jubalthang.TheSeer</string>
	<key>PROJECT_ID</key>
	<string>the-seer-2f8f5</string>
	<key>STORAGE_BUCKET</key>
	<string>the-seer-2f8f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6457681093:ios:a0735079d78a034a2e7cac</string>
	<key>DATABASE_URL</key>
	<string>https://the-seer-2f8f5.firebaseio.com</string>
</dict>
</plist>